{
    "extends": "eslint:recommended",
    "rules": {
        "comma-dangle": ["error", "always"]
    },
    "parserOptions": {
        "ecmaVersion": 2017
    },
    "env": {
        "node": true,
        "mocha": true,
    }
}
